.aboutSection {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    max-width: 1150px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expertiseList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.expertiseList li {
    flex: 1;
    margin-bottom: 0;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.aboutSection h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.aboutSection p {
    margin-top: 20px;
    color: #555;
    text-align: center;
}

.aboutSection h3 {
    font-size: 1.5em;
    margin: 20px 0;
    text-align: center;
}