.header {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  position: relative;
}

.logo {
  width: auto;
  height: 80px;
  margin-right: 10px;
}

.logoText {
  font-size: 2rem;
  font-weight: 600;
  font-weight: bold;
  padding-top: 23px;
}



.wrapper {
  /* margin: 50px; */
}

.couponContainer {
  display: flex;
  justify-content: center;
}

.coupon {
  background-color: #ebebeb;
  color: #333;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 20px;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .text {
    margin: 0;
    font-weight: bold;
  }
}

.welcomeSection {
  background-color: #ebebeb;
  margin-top: 30px;
  margin-bottom: 30px;

  /* Layout for text and image side-by-side */
  .textImageSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .textContent {
      flex: 1;
      text-align: center;
      padding: 20px;

      .buttonGroup {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .scrollButton {
          min-width: 130px;
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: white;
          border: none;
          text-decoration: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 5px;
        }

        .scrollButton:hover {
          background-color: #0056b3;
        }
      }
    }

    .textContent h2 {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .textContent p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .imageContent {
      flex: 1;
      display: flex;
      justify-content: center;
      min-width: 300px;
    }

    .imageContent img {
      width: 100%;
      height: auto;
      max-height: 800px;
      object-fit: contain;
      background-color: #ebebeb;
    }
  }
}

.aboutSection {
  background-color: #ebebeb;
  padding: 40px;
  border-radius: 8px;
  max-width: 1150px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .expertiseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    gap: 20px;
  }

  .expertiseList li {
    flex: 1;
    margin-bottom: 0;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}

.aboutSection h2 {
  font-size: 2em;
  /* Larger font size for the heading */
  margin-bottom: 20px;
  /* Space below heading */
  color: #333;
  /* Dark text color */
  text-align: center;
  /* Center the heading */
}

.aboutSection p {
  margin-top: 20px;
  color: #555;
  text-align: center;
}

.aboutSection h3 {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
}

.servicesSection {
  .gridContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: baseline;
    margin: 20px;

    .gridItem {
      flex: 1;
      padding: 1rem;
      text-align: center;
    }

    .gridItem img {
      max-height: 500px;
      object-fit: contain;
      background-color: #ffffff;
      width: auto;
      height: auto;
    }

    .gridItem strong {
      margin-top: 1rem;
      font-size: 1.1rem;
    }

    .gridItem p {
      margin-top: 0.5rem;
      font-size: 0.95rem;
    }
  }
}

.servicesSection h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.marketingKitSection {
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 8px;
  max-width: 1600px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .kitImage {
    width: 50%;
    /* Image takes half the width */
    max-width: 600px;
    /* Max width for smaller screens */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 5px;
    /* Rounded corners for the image */
    margin-right: 20px;
    /* Space between image and text */
  }

  .text {
    flex: 1;
    /* Allow text to take remaining space */
  }

  .text h2 {
    font-size: 2.5em;
    /* Heading font size */
    margin-bottom: 15px;
    /* Space below heading */
    color: #333;
    /* Dark text color */
  }

  .text p {
    line-height: 1.6;
    /* Increase line height for readability */
    color: #555;
    /* Slightly lighter text color */
  }

  .svgContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-top: 60px;
  }

  .svgContainer svg {
    width: auto;
    /* Adjust the size of each SVG as needed */
    height: 50px;
    padding: 10px;
  }
}