.gridContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 1rem;
    text-align: center;
}

.gridItem img {
    max-height: 500px;
    object-fit: contain;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
}

.gridItem strong {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.gridItem p {
    margin-top: 0.5rem;
    font-size: 0.95rem;
}

.servicesSection h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}