.aboutTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.aboutTextBox {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aboutText {
    font-size: 1rem;
    line-height: 1.6;
}

/* ------------------------------------------------------------------------ */
.exploreText {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.6;
}

/* ------------------------------------------------------------------------ */

.serviceSectionTitle {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.servicesSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 3rem 0;
}

.serviceCard {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1.5rem;
    text-align: center;
}

.serviceCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.serviceIcon {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    color: #0070f3;
}

.serviceTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #333;
}

.serviceDescription {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
}

/* ------------------------------------------------------------------------ */


.whySectionTitle {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.whyChooseContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 10px;
}

.whyChooseCard {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;
    flex: 1;
}

.whyChooseCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.whyChooseCardIcon {
    font-size: 2rem;
    color: #0070f3;
    /* Icon color */
    margin-bottom: 0.5rem;
}

.whyChooseCardTitle {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.whyChooseCardDescription {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
}


/* ------------------------------------------------------------------------ */

.servicesSectionTitle {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.servicesText {
    font-size: 1rem;
    line-height: 1.6;
}

.serviceAreasContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.serviceArea {
    text-align: center;
    margin: 1rem;
}

.serviceArea img {
    width: auto;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.serviceAreaTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.servicesCallToAction {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.servicesCallToAction button {
    margin: 0 0.5rem;
    padding: 0.8rem 1.2rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.servicesCallToAction button:hover {
    background-color: #005bb5;
}